$primary: #E2DFDF;
$secondary: #535E79;
$danger: #881600;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

.nav-link {
    color: rgb(48, 48, 48) !important;
}